//------VARIABLES-------
$color-primary: #777;
$color-secondary: #58e1c1;
$color-secondary-light: lighten($color-secondary, 30%);
$color-accent: #51ddfc;
$color-accent-light: lighten($color-accent, 10%);
$color-error: #e4757a;
$color-error-light: lighten($color-error, 10%);
$color-info: #927bc1;
$color-info-light: lighten($color-info, 10%);
$color-success: #63cc82;
$color-success-light: lighten($color-success, 10%);
$color-warning: #fd7856;
$color-warning-light: lighten($color-warning, 10%);

$color-button: #fff;
$color-border: #ccc;



$media-break: 768px;

$main-font:'Lato', sans-serif;
$font-weight-heavy: 700;
$font-weight-light: 300;

$font-size-quote: 1.5em;