// ----- TYPOGRAPHY



.headline-primary {
    color: $color-secondary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-weight-light;
    color: $color-primary;
  }
  
  .link {
    color: $color-accent;
    font-weight: $font-weight-heavy;
  }
  
  .blockquote {
    font-size: $font-size-quote;
    font-weight: $font-weight-light;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-secondary;
    border-radius: 5px;
  }
  
